* {
    box-sizing: border-box;
    font-family: arial;
    font-size: 40px; 
	padding: 5px;
	margin-left: 5px;
	margin-right: 5px;
}

h1 {
	color: red;
	text-align: center;
	margin-top: 20px;
}

p {
	color: blue;
}