* {
    box-sizing: border-box;
    font-family: arial;
    font-size: 40px; 
	padding: 5px;
	margin-left: 5px;
	margin-right: 5px;
}

@page {
	size: auto;
}

audio {
	margin-top: 80px;
}

button {
	padding-top: 50px;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

footer {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 60px;
}

p {
	margin: 0;
}

h1 {
	color: green;
	margin-top: 80px;
}

h2 {
	color: red;
}

i {
	font-style: italic;
	color: blue;
}

section{
	padding: 10px;
}

li {
	padding: 5px;
}
